@*
    For Details
@model CommerceBankApp.Models.Organization

<center>
    <h1>
        @Html.DisplayFor(model => model.organizationDescription)
        <small class="text-muted"></small>   <!-- NEED FOREIGN KEY FOR FUNDRAISER CREATOR -->
    </h1>
</center>

<img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-fluid" alt="Responsive Image" />

<p>
    @Html.DisplayFor(model => model.organizationDescription)
</p>


<div class="progress">
    <!-- NEED AGGREGATE FUNCTION FOR CURRENT AMOUNT DONATED -->
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Html.DisplayFor(model => model.Payment.Sum(x => x.donatedAmount))" aria-valuemin="0" aria-valuemax="@Html.DisplayFor(model => model.donationGoal)" style="width: 10%"></div>
</div>

<div class="form-group">
    <!-- NEED LINK TO ADD DONATION -->
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
*@
@*
    <div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.organizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.donationGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.donationGoal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.organizationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organizationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.organizationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@

@*
    For Index

@model IEnumerable<CommerceBankApp.Models.Organization>

@{
    ViewData["Title"] = "Fundraisers";
}
<br />

<h1>@ViewData["Title"]</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Card image cap">   <!-- GATHER IMAGE URL WHEN CREATING NEW FUNDRAISER -->
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.organizationName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.organizationDescription)</p>
                <p class="card-text"><small class="text-muted">$ @Html.DisplayFor(modelItem => item.Payment.Sum(x => x.donatedAmount)) / $ @Html.DisplayFor(modelItem => item.donationGoal)</small></p>
            </div>
        </div>
    }
</div>
*@
@*

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.organizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donationGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.organizationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.organizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donationGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organizationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.organizationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.organizationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.organizationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@