@model CommerceBankApp.Models.Donor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.billingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.billingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.homeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.homeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.accountID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonorInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonorInfo.donorInfoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.paymentID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.donorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
