@model IEnumerable<CommerceBankApp.Models.Donor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.billingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.homeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.billingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.homeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.accountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorInfo.donorInfoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.paymentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.donorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.donorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.donorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
