@model IEnumerable<CommerceBankApp.Models.Organization>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.organizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.donationGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currentDonated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.organizationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.organizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.donationGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currentDonated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organizationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationType.donationTypeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.organizationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.organizationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.organizationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
