@model CommerceBankApp.Models.DonorInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonorInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cardExpiration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cardExpiration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cvcNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cvcNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bankRoutingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bankRoutingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bankAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bankAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donor.donorID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.donorInfoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
