@model IEnumerable<CommerceBankApp.Models.DonorInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cardExpiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cvcNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bankRoutingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bankAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cardExpiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cvcNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bankRoutingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donor.donorID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.donorInfoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.donorInfoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.donorInfoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
