@model CommerceBankApp.Models.Organization

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.OrganizationName);
    var sum = 0f;
    var percent = 0f;
    var name = "Anonymous";
    if (Model.Payment != null)
    {
        sum = Model.Payment.Sum(p => p.DonatedAmount);
        percent = (sum / Model.DonationGoal) * 100;
    }
    if (Model.ApplicationUser != null) {
        name = Html.DisplayTextFor(p => p.ApplicationUser.UserName);
    }
}

<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-11">
            <h1 style="">@Html.DisplayFor(model => model.OrganizationName)</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-7">
            <img class="a-image a-image--background shadow mb-5" style="width:720px; height:405px;" src="@Html.DisplayTextFor(modelItem => modelItem.ImageUrl)" alt="Error Loading Image">
            <a asp-action="Edit" asp-route-id="@Model?.OrganizationID">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model?.OrganizationID">Delete</a> |
            <a asp-action="Index">Back to List</a>
            <p>
                @name is organizing this fundraiser.
            </p>
            <hr />
            <p>
                @Html.DisplayFor(model => model.OrganizationDescription)
            </p>
            <br />
        </div>
        <div class="col-4">
            <div class="card proj-progress-card shadow p-3 mb-5 sticky-top">
                <div class="card-block">
                    <div class="row">
                        <div class="col">
                            <h5 class="m-b-30 f-w-700">
                                @String.Format("{0:C2}", sum)
                                <small class="text-muted">
                                    raised of @Html.DisplayFor(modelItem => Model.DonationGoal) goal
                                </small>
                                <span class="text-c-green m-l-10">
                                    <br />
                                    @String.Format("{0:0.#}%", percent)
                                </span>
                            </h5>
                            @*
                            <div class="progress" style="height: 30px">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="@sum" aria-valuemin="0" aria-valuemax="@Model.DonationGoal" style="width: @percent%"></div>
                            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: @LessPercent%" aria-valuenow="@LessGoal" aria-valuemin="0" aria-valuemax="@Model.DonationGoal"></div>
                            </div>
                            *@
                            <div class="progress">
                                <div class="progress-bar bg-c-green" style="width:@percent%"></div>
                            </div>
                            <form action="/Payment/Create">
                                <button class="button-87" role="button">
                                    Donate
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    @{
                        if (Model?.Payment != null)
                        {
                            var reversesort = Model.Payment.OrderByDescending(i => i.DonatedDate);
                            foreach (var items in reversesort)
                            {
                                var DonationName = "Anonymous";
                                if (items.UserName != null) {
                                    DonationName = Html.DisplayTextFor(item => items.UserName);
                                }
                                <li class="list-group-item">
                                    <center>
                                        @Html.DisplayFor(item => items.DonatedAmount) |
                                        @DonationName |
                                        @Html.DisplayFor(item => items.DonatedDate)
                                    </center>
                                </li>
                            }
                        }
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div>
            @Html.DisplayNameFor(model => model.OrganizationName)
            @Html.DisplayFor(model => model.OrganizationName)
            @Html.DisplayNameFor(model => model.DonationGoal)
            @Html.DisplayFor(model => model.DonationGoal)
            @Html.DisplayNameFor(model => model.OrganizationDescription)
            @Html.DisplayFor(model => model.OrganizationDescription)
            <img class="card-img-top" style="height:225px" src="@Html.DisplayTextFor(modelItem => modelItem.ImageUrl)" alt="Card image cap">
</div>*@