@model CommerceBankApp.Models.Organization

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.OrganizationName);
}

<br />
<center>
    <h1 style="">@Html.DisplayFor(model => model.OrganizationName)</h1>
    <hr />
    <img class="img-fluid rounded" src="@Html.DisplayTextFor(modelItem => modelItem.ImageUrl)" alt="Error Loading Image">

    <div class="container">
        @Html.DisplayFor(model => model.OrganizationDescription)
    </div>

</center>


<div>
    <form action="/Payment/Create">
        <input type="submit" value="Donate" class="btn btn-primary" />
    </form>

    <a asp-action="Edit" asp-route-id="@Model?.OrganizationID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.OrganizationID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <ul class="list-group list-group-flush">
        @{
            if (Model?.Payment != null)
            {
                var reversesort = Model.Payment.OrderByDescending(i => i.DonatedDate);
                foreach (var items in reversesort)
                {
                    <li class="list-group-item">
                        @Html.DisplayFor(item => items.DonatedAmount) | 
                        @Html.DisplayFor(item => items.UserName) | 
                        @Html.DisplayFor(item => items.DonatedDate)
                    </li>
                }
            }
        }
        </ul>
    </div>
</div>



@*<div>
            @Html.DisplayNameFor(model => model.OrganizationName)
            @Html.DisplayFor(model => model.OrganizationName)
            @Html.DisplayNameFor(model => model.DonationGoal)
            @Html.DisplayFor(model => model.DonationGoal)
            @Html.DisplayNameFor(model => model.OrganizationDescription)
            @Html.DisplayFor(model => model.OrganizationDescription)
            <img class="card-img-top" style="height:225px" src="@Html.DisplayTextFor(modelItem => modelItem.ImageUrl)" alt="Card image cap">
</div>*@