@model IEnumerable<CommerceBankApp.Models.Organization>

@{
    ViewData["Title"] = "Fundraisers";
}
<br />

<h1>@ViewData["Title"]</h1>
<hr />
<form action="/Organization/Create">
    <input type="submit" value="Create New" class="btn btn-primary" />
</form>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        var sum = 0f;
        if (item.Payment != null) {
            sum = item.Payment.Sum(p => p.DonatedAmount);
        }
        <div class="col">
            <a asp-action="Details" asp-route-id="@item.OrganizationID" style="text-decoration:none; color: black;"> <!-- ~/Organization/{asp-action}/{asp-route-id} -->
                <div class="card h-100" style="background-color:#dddddd;">
                    <img class="card-img-top" style="height:225px" src="@Html.DisplayTextFor(modelItem => item.ImageUrl)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.OrganizationName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.OrganizationDescription)</p>
                        <p class="card-text"><small class="text-muted">
                            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName) | 
                            @String.Format("{0:C2}", sum) / @Html.DisplayFor(modelItem => item.DonationGoal)
                        </small></p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@*
@model IEnumerable<CommerceBankApp.Models.Organization>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrganizationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrganizationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrganizationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@